.note {
  background-color: lightblue;
  text-align: center;
  height: 144px;
  width: 144px;
  margin-left: 48px;
  margin-right: 48px;
}

#root{
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}